<div class="signup-backdrop" (click)="closePopup($event)">
    <div class="signup-modal" (click)="$event.stopPropagation()">
      <h3>Join To-Do App!</h3>
  
      <form (ngSubmit)="onSignup()" #signupForm="ngForm">
        <input type="text" name="firstName" [(ngModel)]="firstName" placeholder="First Name" required />
        <input type="text" name="lastName" [(ngModel)]="lastName" placeholder="Last Name" required />
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
        <button type="submit">Register</button>
      </form>
  
      <div class="success-popup" *ngIf="showSuccessPopup">
        <div class="success-box">
          <p>User created successfully!</p>
          <button (click)="closeSuccessPopup()">Yay!</button>
        </div>
      </div>      
    </div>
  </div>
  